.header {
    display: flex;
    border: 1px solid red;
    background-color: gray;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;


}

.main {
    display: flex;
    border: 1px solid black;
    height: 300px;
    width: 70%;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;

}

.block1 {
    border: 1px solid red;
    background-color: lightsalmon;
    width: 45%;
    height: 50px;
    margin: 7px;
    text-align: center;
}

.block2 {
    border: 1px solid red;
    background-color: lightsalmon;
    width: 92%;
    height: 50px;
    text-align: center;
    margin: 10px;
}

.aside {
    border: 1px solid green;
    background-color: lightgreen;
    flex-grow: 1;


}

.sec1 {
    border: 1px solid black;
    padding: 15px;
    width: 20%;
    text-align: center;
}

.footer {
    display: flex;
    border: 1px solid red;
    background-color: gray;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}