.container>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


div {
    text-align: center;

}

.block1 {
    background-color: aqua;

}

.block2 {
    background-color: palegoldenrod;
}

.block3 {
    background-color: pink;
}

.block4 {
    background-color: lightgreen;
}

.block5 {
    background-color: lightsalmon;
}

.block6 {
    background-color: lightslategrey;
}